<div class="container">
  <mat-form-field>
    <mat-label>Sort by:</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="Reset()">
      <mat-option value="recent">Recent</mat-option>
      <mat-option value="trending">Trending</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<ul *ngFor="let post of posts">
  <app-preview [post]="post"></app-preview>
</ul>
<span class="pagination">
  <button
    class="pagination-element"
    type="button"
    *ngIf="!hidePrevious"
    (click)="previousPage()"
  >
    &lt; Previous
  </button>
  <span class="underlined pagination-element">{{ currentPage }}</span>
  <button
    class="pagination-element"
    type="button"
    *ngIf="!hideNext"
    (click)="nextPage()"
  >
    Next &gt;
  </button>
</span>
