<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <p>Sign Up</p>

  <mat-form-field>
    <input matInput placeholder="username" formControlName="username" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="email" formControlName="email" />
  </mat-form-field>

  <mat-form-field
    [color]="passwordComponentWithValidation.color"
    style="width: 100%"
  >
    <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
    <input
      matInput
      #passwordWithValidation
      required
      [type]="toggle.type"
      placeholder="password"
      formControlName="password"
    />
  </mat-form-field>

  <div class="passwordStrength">
    <mat-password-strength
      #passwordComponentWithValidation
      (onStrengthChanged)="onStrengthChanged($event)"
      [password]="password.value"
    >
    </mat-password-strength>
    <mat-password-strength-info
      *ngIf="showDetails"
      [passwordComponent]="passwordComponentWithValidation"
    >
    </mat-password-strength-info>
  </div>

  <button
    mat-raised-button
    [disabled]="registerForm.invalid || loading"
    color="primary"
  >
    Sign Up
  </button>

  <p>Already have an account? <a routerLink="../login">Sign In</a>!</p>
</form>
