/*d
iv {
  overflow: hidden;
  position: relative;
  display: block;
  height: 100vh;
}
*/

app-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

/*
app-content {
  width: 100%;
  position: absolute;
  top: 6.5%;
}
*/

router-outlet {
  display: inline-block;
  margin-top: 5%;
}

app-footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 5%;

  background-color: white;
  border: 1px solid black;
}
