.reaction-container {
    // border: 1px solid red;
    padding: 10px;
}

.reaction {
    cursor: pointer;
    margin-right: 10px;
}

.selected {
    background-color: aquamarine;
    border: 1px solid red;
}