<div *ngIf="isLoggedIn" class="reaction-container">
  <!-- smile -->
  <span class="reaction" (click)="SelectReaction('r1')">
    😃
  </span>

  <!-- laugh -->
  <span class="reaction" (click)="SelectReaction('r2')">
    😆
  </span>

  <!-- confused -->
  <span class="reaction" (click)="SelectReaction('r3')">
    😕
  </span>

  <!-- unamused -->
  <span class="reaction" (click)="SelectReaction('r4')">
    😒
  </span>

  <!-- angry -->
  <span class="reaction" (click)="SelectReaction('r5')">
    😠
  </span>

  <span class="reaction" (click)="RemoveReaction()">
    ❌
  </span>
</div>