.reaction-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 2rem;
  padding: 1rem;

  .reaction {
    display: flex;
    flex-direction: column;

    .reaction-count {
      font-size: 1rem;
    }
  }
}

.reaction {
  cursor: pointer;
  padding: 0.4rem;

  transition: all 0.5s ease-in-out;
}

.reaction:hover {
  transform: scale(1.5);
}

.selected {
  transform: scale(1.5);
}
