.main {
  margin: auto;
  width: 66%;
  background-color: white;

  .author {
    text-align: left;
    margin-left: 1rem;

    font-size: 1.4rem;
  }

  button {
    font-size: 1rem;
  }

  h4 {
    font-size: 1.6rem;
  }
}

.shaded {
  background-color: lightgrey;
}

.not-shaded {
  background-color: white;
}
