<div *ngIf="post" class="main" [ngClass]="{ shaded: level % 2 == 0 }">
  <p class="author">
    <b>{{ post.author }}</b
    >:
  </p>
  <img
    src="{{ imageUrl }}"
    alt="post"
    style="width: 90%;"
    class="imageComment"
  />

  <app-reaction-container *ngIf="post" [post]="post"></app-reaction-container>

  <button
    type="button"
    *ngIf="isLoggedIn"
    (click)="DeleteComment()"
    class="button"
  >
    Delete Comment
  </button>

  <div *ngIf="post.comments.length > 0">
    <app-comments-container
      [comments]="post.comments"
      [level]="level + 1"
    ></app-comments-container>
  </div>

  <div *ngIf="!post.comments.length > 0">
    <h4>Be the first person to reply...</h4>
  </div>

  <!-- TODO: hide this if not logged in -->
  <h3 *ngIf="!post.comments.length == 0">Add A Reply...</h3>
  <app-add-comment *ngIf="post" [post]="post"></app-add-comment>
</div>
