.author {
    text-align: left;
    margin-left: 20%;
}

.main {
    border:1px solid black;
    border-radius: 6px;
    width:98%;
    margin: 1%;
    background-color: white;
}

.shaded {
    background-color: lightgrey;
}

.not-shaded {
    background-color: white;
}

