<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>Sign In</h1>

  <mat-form-field>
    <input matInput placeholder="username" formControlName="username" />
  </mat-form-field>

  <mat-form-field>
    <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
    <input
      matInput
      #password
      [type]="toggle.type"
      placeholder="password"
      formControlName="password"
    />
  </mat-form-field>

  <button
    mat-raised-button
    [disabled]="loginForm.invalid || loading"
    color="primary"
  >
    Login
  </button>

  <p>Don't have an account? <a routerLink="../register">Sign Up</a>!</p>
</form>

<div>
  <ul *ngFor="let user of users">
    <li>{{ user.username }}</li>
  </ul>
</div>
