.container {
  width: 410px;
  background-color: lightgray;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

  input {
    width: 400px;
    margin: auto;
    display: block;
  }

  .interaction {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
  }

  .authorName {
    margin-bottom: 5px;
  }